@import '../../../../styles/variables';

.header {
	position: relative;
	line-height: 0;
	z-index: 1;
	height: 4rem;
	background-color: rgba($color-primary-green, 0.1);
	box-shadow: 0.625rem 0 0.3125rem 0.3125rem rgba($color-black, 0.1);
	padding: 0 3.125rem;

	&-section {
		height: 100%;
		width: fit-content;
		display: flex;
		align-items: center;

		&--right {
			float: right;
			justify-content: space-between;
			width: 30%;
		}

		&--left {
			float: left;
			text-transform: uppercase;
			font-family: $font-nunito-semi-bold;
			font-size: 1.1rem;
			width: 30%;

			a,
			a:hover,
			a:active,
			a:visited {
				color: inherit;
				transition: none;
			}
		}
	}

	&-btn {
		text-transform: uppercase;
		border: none;
		transition: all 0.2s ease-in-out;
		font-family: $font-nunito-bold;
		background-color: $color-primary-red;
		color: $color-white;
		border-radius: 0.625rem;
		height: 2.5rem;
		padding: 0 1rem;

		&:hover {
			cursor: pointer;
			background-color: darken($color-primary-red, 12%);
			border-color: darken($color-primary-red, 12%);
		}

		&--icon {
			padding: 0.4rem;
			border-radius: 50%;
			font-size: 1.25rem;
			width: 2.5rem;
		}

		&--auth {
			border: 0.1825rem solid $color-primary-red;

			&:hover {
				background-color: $color-white;
				color: $color-primary-red;
			}
		}
	}

	&-link {
		color: $color-primary-red;
		font-family: $font-nunito-bold;
		transition: all 0.2s ease-in-out;
		text-transform: uppercase;

		&:hover {
			color: darken($color-primary-red, 12%);
		}
	}

	&-icon {
		margin-right: 1.5rem;
	}

	&-auth {
		display: inline-flex;
		align-items: center;

		&__avatar {
			&:hover {
				cursor: pointer;
			}

			&--default {
				background-color: $color-primary-red;
				font-family: $font-nunito-semi-bold;
			}
		}
	}

	&-skeleton {
		margin-left: 0.5rem;
	}

	&-dropdown {
		&-first-li {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
		}

		&-last-li {
			border-bottom-left-radius: 0.75rem;
			border-bottom-right-radius: 0.75rem;
		}
	}
}
