@import '../../styles/variables';

.custom-404 {
	text-align: center;

	&__title {
		display: block;
		font-size: 2.5rem;
		font-family: $font-nunito-bold;
		color: $color-primary-red;
	}

	&__message {
		display: block;
		font-size: 1.25rem;
	}

	&__button {
		padding: 0.75rem 2.75rem;
		margin-top: 1.5rem;
		border: none;
		border-radius: 0.9375rem;
		color: $color-white;
		font-family: $font-nunito-semi-bold;
		background-color: $color-primary-green;
		transition: all 0.22s;
		cursor: pointer;

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 0.625rem 1.25rem rgba($color-black, 0.2);
		}

		&:active {
			transform: translateY(-1px);
			box-shadow: 0 0.3125rem 0.625rem rgba($color-black, 0.2);
		}
	}
}
