@import '../../../styles/variables';

.atn-input-textarea-custom {
    background: $color-bg;
    border-radius: rem(5px);
    border: 0;
    padding: rem(14px) rem(16px);
    width: 100%;
    font-size: rem(16px);
}
