@import '../../../styles/variables';
.ant-form {
    margin-top: rem(25px);
    margin-bottom: rem(25px);
    width: 100%;
    .ant-tabs {
        font-size: 10px;
        color: #da3333;
        // align-items: center;
        align-content: center;
        width: 100%;
    }
    .submit-button {
        line-height: 0.3rem;
        letter-spacing: 0.125rem;
        width: 20%;
        height: 2.5rem;
        border-radius: rem(30px);
        margin-top: 0;
        background-color: $color-red;
        color: $color-white;
        font-size: 1rem;
        &:hover {
            border: inherit;
        }
    }
    .form-header {
        // font: $fw-semiBold 2rem $font-euclid-semibold;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .ant-form-item {
        margin-bottom: 0;
    }
    .ant-divider-with-text-center {
        // font: $fw-medium 1rem $font-euclid-medium;
        line-height: 1.5rem;
        margin: 0rem;
        margin-top: 1.5rem;
        &::before,
        &::after {
            border-top: 0.125rem solid #c0c0c0;
        }
    }
}

.app-social {
    justify-content: center;
    display: flex;
    .logo-img {
        width: 2.5rem;
    }
    .app-social-item {
        margin: 0.5rem;
    }
}