@import '../../../styles/variables';

.menu-board-root {
    // -webkit-box-shadow: 0px 0px 13px -3px #A9A9A9; 
    box-shadow: 0px 0px 13px -3px #A9A9A9;
    .ant-menu{
        .user-avatar_on-default{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .ant-menu-item:hover,
        .ant-menu-item-active,
        .ant-menu-item-open,
        .ant-menu-item-selected {
            background-color: darkgrey;
            color: black;
            font-weight: bold
            // height:27
        }
    }
}