@import '../../../../styles/variables';
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #363636 !important; 
    font-weight: bolder;
    font-size:medium
 }
.create-new-budget-form{
    .ant-col{
        .ant-form-item{
            .ant-form-item-label{
                >label{
                    font-size: small;
                    
                }
            }
            .ant-form-item-control{
                .ant-input{
                    padding:12px;
                }
            }
        }
    }
}