@import '../../../styles/variables';

.user-avatar {
    // margin: 0 auto; /* Added */
    // float: none; /* Added */
    // margin-bottom: 10px; /* Added */
    // text-align: justify;
    &-title {

    }
    &-button {
        border-radius: rem(5px);
        background-color: #198754;
        font-size: medium;
        color: white;
        height:max-content;
    }

    &-content {
        padding-bottom: rem(20px);
        &-img {
            .img-fluid {
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: top center;
                border-radius: 50%;
                margin-bottom: rem(20px);
            }
        }
        &-info {
            border-radius: 5px;
        }
    }
}
